[submodule "nebula-xi-info"]
	path = nebula-xi-info
	url = https://github.com/Nebula-XI/nebula-xi-info.git
[submodule "nebula-xi-dev"]
	path = nebula-xi-dev
	url = https://github.com/Nebula-XI/nebula-xi-dev.git
[submodule "nebula-xi-hal"]
	path = nebula-xi-hal
	url = https://github.com/Nebula-XI/nebula-xi-hal.git
[submodule "nebula-xi-driver"]
	path = nebula-xi-driver
	url = https://github.com/Nebula-XI/nebula-xi-driver.git
